.box {
    width: 1249px;
    height: 376px;
    background-color: 
    rgba(34, 244, 218, 1);
    margin-top: 73px;
    margin-left: 86px ;
    border-radius: 30px;
    
}
h1 {
    width: 177px;
    height: 39px;
    padding-bottom: 50px ;
    padding-top: 102px;
    padding-left: 622px;
}